.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh; /* Adjust the height as needed */
  }
  
  .myButton {
	background-color: #232323;
	border-radius: 28px;
	border: 1px solid #818181;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
  }
  .myButton:hover {
	background-color: #2196F3;
  }
  .myButton:active {
	position: relative;
	top: 1px;
  }
  

  /**Dark Mode style**/
  body {
	background-color: lightgray;
	color: black;
	transition: background-color 0.3s ease;
	height: 100%;
	margin: 0;
	min-height: calc(100% - 50px); /* Adjust the value according to your footer height */
  }

  body.dark-mode {
	background-color: #333;
	color: white;
  }

  .toggle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: right;
	right: 2%;
  }

  .toggle input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
  }

  input:checked + .slider {
	background-color: #2196F3;
  }

  input:checked + .slider:before {
	transform: translateX(26px);
  }

  /* Adjust the position of the toggle */
  .slider.round {
	border-radius: 34px;
  }

  .slider.round:before {
	border-radius: 50%;
  }

  footer{
	text-align: center;
	font-size: 12px;
 	position: absolute;
	left: 2%;
	}

/** ===========</video>============ **/
	.video_icon_1{
		width: 100px;
		height: 100px;
		position: absolute;
		top: 57%;
		left: 50%;
		bottom: 30%;
		transform: translate(-50%, -50%);
		transition: transform 0.3s ease, opacity 0.3s ease;
	  }

	  .video_icon_1:hover {
		transform: rotate(10deg);
		opacity: 0.5;
	  }
		.video_head{
		  position: absolute;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: ;
		}
/** ===========</video>============ **/